
@{
    ViewBag.Title = "Edit Course";
}

<h2>Edit Course</h2>

<hr />

<div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("CoursesNeeded", new { courseID = @ViewBag.course.ID })"></div>


    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <h4>Major</h4>
                    <input id="major" name="major" type="text" class="form-control" value="@ViewBag.course.MCode" placeholder="Enter Major Code" required autofocus maxlength="3" />
                </div>
                <div class="col-sm-4">
                    <h4>Course</h4>
                    <input id="course" name="course" type="text" class="form-control" value="@ViewBag.course.CCode" placeholder="Enter Course Code" required maxlength="3" />
                </div>
                <div class="col-sm-4">
                    <h4>Section</h4>
                    <input id="section" name="section" type="text" class="form-control" value="@ViewBag.course.SCode" placeholder="Enter Section Code" maxlength="2" />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Title</h4>
                    <input id="title" name="title" type="text" class="form-control" value="@ViewBag.course.Title" placeholder="Enter Course Title" required />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Semester</h4>
                    <select class="form-control" id="semester" name="semester">
                        @foreach (var semester in ViewBag.semester)
                        {
                            if (semester.ID == ViewBag.course.Semester_ID)
                            {
                                <option selected="selected" value="@semester.ID">@semester.Description</option>
                            }
                            else
                            {
                                <option value="@semester.ID">@semester.Description</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Year</h4>
                    <select class="form-control" id="year" name="year">
                        @foreach (var year in ViewBag.year)
                        {
                            if (year.ID == ViewBag.course.Year_ID)
                            {
                                <option selected="selected" value="@year.ID">@year.Description</option>
                            }
                            else
                            {
                                <option value="@year.ID">@year.Description</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Liberal Arts Curriculum</h4>
                    <select class="form-control" id="libArt" name="libArt">
                        @foreach (var libArt in ViewBag.libArt)
                        {
                            if (libArt.ID == ViewBag.course.LibArt_ID)
                            {
                                <option selected="selected" value="@libArt.ID">@libArt.Description</option>
                            }
                            else
                            {
                                <option value="@libArt.ID">@libArt.Description</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Set Prerequisite Options</h4>
                        </div>
                        <div class="col-sm-6">
                            <button id="modalshow" type="button" class="btn btn-info" style="float:right;">
                                <i class="fas fa-save"></i> Add Prerequisite Option
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="PrerequisiteOptions" class="table table-striped table-hover">
                            <thead class="bg-dark text-light">
                                <tr>
                                    <th>Code</th>
                                    <th>Title</th>
                                    <th>Option</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{ var count = 1;}
                            @foreach (var courses in ViewBag.coursePrerequisites)
                            {
                                foreach (var course in courses)
                                {
                                    <tr>
                                        <td>@course.MCode @course.CCode</td>
                                        <td>@course.Title</td>
                                        <td>@count</td>
                                        <td><i id="icon-delete" class="fas fa-trash-alt icon-delete text-danger" aria-hidden="true"></i></td>
                                    </tr>
                                }

                                count++;
                            }
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <h4>Credits</h4>
                    <input id="credits" name="credits" type="number" class="form-control" value="@ViewBag.course.Credits" placeholder="Enter Course Credit Amount" required />
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <br />
                    <button class="btn btn-primary" onclick="save()">
                        <i class="fas fa-save"></i> Save Course
                    </button>
                </div>
            </div>
        </div>

        
    </div>


    @section Scripts {
        <script>
            var optionCount = @ViewBag.optionCount;
            var table;
            function setPrereqOptions(prerequisites) {

                for (var i = 0; i < prerequisites.length; i++) {
                    var set = prerequisites[i].split('//');
                    table.row.add([
                        set[0],
                        set[1],
                        optionCount,
                        '<i id="icon-delete" class="fas fa-trash-alt icon-delete text-danger" aria-hidden="true"></i>'
                    ]).draw(false);
                }
                optionCount++;
            }

            $('#PrerequisiteOptions tbody').on('click', 'i.icon-delete', function () {
                table
                    .row($(this).parents('tr'))
                    .remove()
                    .draw();
            });

            $(function () {
                var element = document.getElementById("ActiveAdmin");
                element.classList.add("active");
            });

            $(document).ready(function () {
                $('#PrerequisiteOptions').DataTable({
                    "order": [],
                    "columnDefs": [
                        { "orderable": false, "targets": 3 }
                    ]
                });
                $('#modalshow').click(function () {
                    var url = $('#myModal').data('url');
                    $.get(url, function (data) {
                        $('#myModal').html(data);
                        $('#myModal').modal('show');
                    })
                })

                table = $('#PrerequisiteOptions').DataTable();
                var prereq = "@ViewBag.coursePrerequisites";
                for (var i = 0; i < prereq.length; i++) {
                    // Automatically add a first row of data
                    table.row.add([
                        set[0],
                        set[1],
                        optionCount,
                        '<i id="icon-delete" class="fas fa-trash-alt icon-delete text-danger" aria-hidden="true"></i>'
                    ]).draw(false);
                    counter++;
                }
            });

            function save() {
                var data = table
                    .rows()
                    .data();
                var id = getUrlParameter("id");
                var rows = table.cells().nodes();
                var checkColumns = $(rows).find('input[type="checkbox"]');

                var prerequisites = [];
                var values = [];
                var previousCount = 0;
                for (var i = 0; i < data.length; i++) {
                    if (data[i][2] != previousCount && previousCount != 0) {
                        prerequisites.push(values.join());
                        values = [];
                    }
                    values.push(data[i][0]);
                    previousCount = data[i][2];
                }
                prerequisites.push(values.join());

                var major = $('#major').val();
                var course = $('#course').val();
                var section = $('#section').val();
                var title = $('#title').val();
                var semester = $('#semester').find(":selected").val();
                var year = $('#year').find(":selected").val();
                var libArt = $('#libArt').find(":selected").val();
                var credits = $('#credits').val();

                $.ajax({
                    url: "/Admin/UpdateCourse",
                    data: {
                        "id": id,
                        "major": major,
                        "course": course,
                        "section": section,
                        "title": title,
                        "semester": semester,
                        "year": year,
                        "libArt": libArt,
                        "credits": credits,
                        "prerequisites": prerequisites
                    },
                    method: "POST",
                    async: false,
                    success: function () {
                        location.href = "/Admin/Courses";
                        return false;
                    },
                    error: function () {
                        alert("An error occured");
                    }
                });
            }
        </script>
    }
